/* 20200508 Ason */
/* common */
html {
    /* scroll-behavior: smooth; */
  }
body {
    background: url(../image/bg_2.jpg);
    background-size: cover;
    font-family: 微軟正黑體;
    font-size: 1.1rem;
}
.bg-god {
    /* background: url(../image/quayu_2.svg) no-repeat;
    background-size: cover;
    background-position: center 500px; */
}
h3, h4 {
    padding: 10px;
    margin-bottom: 30px !important;
}
h3 {
    width: 20%;
    background-color: rgba(0,0,0,0.02);
    box-shadow: 0 0 1px #1d2124;
    margin-top: 40px;
}
h4 {
    width: 12%;
    background-color: rgba(0,0,0,0.08);
    font-size: 1.2rem;
}
h5 {
    font-weight: bold;
    margin-top: 20px;
}
a:link, a:visited {
    color: #000;
}
.margin-top-fix-1 {
    margin-top: 10px !important;
}
.margin-top-fix-2 {
    margin-top: 32px;
}
.margin-bottom-fix-1 {
    margin-bottom: 30px;
}
.margin-fix {
    margin: 0;
}
header {
    /* background-image: url(../image/header.svg);
    background-size: cover;
    background-position: center; */
    margin-top: 0;
    margin-bottom: 0;
}
.jumbotron {
    background-color: transparent;
    margin-top: -40px;
    margin-bottom: 0;
    padding: 0;
}
/* .mainbtn-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    z-index: 3;
} */
.mainbtn {
    text-align: right;
    margin-top: -80px;
    margin-bottom: 80px;
    padding-right: 20px;
    position: sticky;
    top: 10px;
    z-index: 5;
}
.btn-container {
    display: inline-block;
    cursor: pointer;
  }
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }   
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }  
.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
.mainmenu-container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(181,181,181,1);
    background-image: url(../image/quayu_2_2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.mainmenu-container.change  {
    display: flex;
}
.mainmenu {
    font-size: 1.5rem;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
.mainmenu li {
  text-align: center;
  margin-bottom: 5px;
}
.first-title {
    margin-top: 80px;
}
.about-pic-1 {
    width: 12%;
}
.fa-angle-double-down {
    color: rgba(0,0,0,0.2);
    margin-top: 15px;
    margin-bottom: 0px;
}
.atm li {
    margin-right: 20px;
}
.logo-line, .logo-telegram  {
    width: 100px;
    height: 100px;
}
.email {
    margin-top: 30px;
}
.query-form {
    background-color: rgba(255,255,255,0.5);
    padding: 20px 34px;
}
.copyright {
    background-color: #222;
    font-size: 14px;
    color: #fff;
    margin-top: 50px;
    padding: 12px 0;
}
.copyright i {
    font-size: 12px;
    padding: 0 5px;
}

/* qrcode */
.qrcode-line, .qrcode-telegram {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #000;
}

/* note */
.note {
    list-style: square;
}
.note li {
    font-size: 0.8rem;
    color: #495057;
    margin-bottom: 15px;
}
.note li > span {
    font-size: 1rem;
    color: black;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1;
    border: none;
    outline: none;
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 6px 14px 6px;
    border-radius: 30px;
    font-size: 32px;
    opacity: 0.5;
  }
  #myBtn:hover {
    background-color: #555;
    opacity: 0.8;
  }
  #myBtn .fas.fa-arrow-up {
    font-size: 30px;
  }
  .service-item strong {
      font-size: 1.2rem;
  }
 .fill-data strong {
      font-size: 2rem;
      color: #900;
  }
  .fill-data b {
    font-size: 1.1rem;
    color: #222;
}
  .lucky-money {
      font-size: 1.5rem;
      font-weight: bold;
  }
  i.square {
    display: inline-block;
    font-style: normal;
    color: #212529;
    vertical-align: text-bottom;
  }

/* rwd */
@media only screen and (max-width: 991px) {
   h3 {
        width: 30%;
    } 
   h4 {
        width: 20%;
    }
    .atm li {
        margin-right: 10px;
    }
    .about-pic-1 {
        width: 30%;
    }
}
@media only screen and (max-width: 767px) {
    .first-title {
        margin-top: 20px;
    }
    h3, h4 {
        width: auto;
    }
    #myBtn {
      bottom: 100px;
      right: 10px;
    }
    .about-pic-1 {
      width: 50%;
    }
    .mainmenu-container {
        background-size: cover;
    }
    .mainbtn {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 10px;
    top: 10px;
    }
    .mainmenu {
    font-size: 1.3rem;
    }
    .note {
        padding-left: 40px;
        padding-right: 30px;
    }
}
